<!-- Reservation modal -->
<nz-modal [nzVisible]="isVisible" (toggleModal)= hideModal() nzTitle="Reservación de mesa" [nzClosable]=true [nzMaskClosable]=false>
    <ng-container *ngTemplateOutlet="reservationTemplate"></ng-container>   
    <!-- Modal footer -->
    <div *nzModalFooter>
        <button nz-button nzType=default (click)=handleCancel()>Cerrar</button>
        <button nz-button nzType=primary (click)=handleOk() type="submit" [disabled]="!reservationForm.valid">Registrar</button>
    </div>
    <!-- Modal footer -->
 </nz-modal>
 <ng-template #reservationTemplate>    
     <form nz-form [formGroup]="reservationForm">
         <nz-form-item nz-row>
             <nz-form-label nz-col nzSpan=24>Cantidad de personas</nz-form-label>
             <nz-form-control nz-col nzSpan=24>
                 <nz-input-number 
                 [nzMin]="1" 
                 [nzMax]="10" 
                 [nzStep]="1" 
                 nzPlaceHolder="Cantidad de personas" 
                 style="width: 100%;"
                 formControlName="people"></nz-input-number>
             </nz-form-control>
         </nz-form-item>
         <nz-form-item nz-row>
             <nz-form-label nz-col nzSpan=24>Fecha y hora</nz-form-label>
             <nz-form-control>
                 <nz-input-group nzCompact>
                     <nz-date-picker 
                     nzFormat="dd-MM-yyyy hh:mm" 
                     nzPlaceHolder="Seleccione una fecha" 
                     [nzDisabledDate]="disabledDate"
                     formControlName="date"
                     [nzShowTime]="{ nzDefaultOpenValue: timeDefaultValue }"></nz-date-picker>
                 </nz-input-group>
             </nz-form-control>
         </nz-form-item>   
     </form>
 </ng-template>
 
 <!-- Reservation modal --> 


