<!-- Modal del login -->
<nz-modal [nzVisible]="isVisible" nzTitle="Acceso" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzMaskClosable=false>
  <ng-container *ngTemplateOutlet="loginFormTemplate"></ng-container>
<!-- Modal footer -->
<div *nzModalFooter>
  <button nz-button nzType=default (click)=handleCancel()>Cerrar</button>
  <button nz-button nzType=primary (click)=handleOk()>Acceder</button>
</div>
<!-- Modal footer -->  
</nz-modal>
<ng-template #loginFormTemplate>
  <nz-alert nzType="error" *ngIf="errorMessage != ''" [nzMessage]=errorMessage></nz-alert>
  <form nz-form [formGroup]=loginForm nzLayout="horizontal">
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input placeholder="Correo electrónico" formControlName=email/>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item >
    <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input placeholder="Contraseña" formControlName=password/>
            </nz-input-group>
          </nz-form-control>
    </nz-form-item >
  </form>
  <label id="accessWith">Acceder con: </label>
  <button nz-button (click)="googleAuth()">
    <img src="/assets/google-logo.png" height="100%" width="100%"/>
  </button>
</ng-template>
<!-- Modal del login -->

