:host{
    width: 100%;
    background-image: url("/assets/bodyIV.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    height: 80vh;
}

#dvReservations{
    height: 400px;
    background: #001529cf;
    border-radius: 10px;   
    color: white;
}


#dvReservationsList{
    font-size:16px;
    overflow: auto;
    height: 80%;
    border: 1px solid transparent;
}

#dvReservationsList i{
    color: #e6ce10;
}

#restaurantName{
    font-weight: bold;
}

.listMarker{
    background: red;
    height: 100%;
}

nz-list-item a{
    color: white;
    border-right: 1px solid;
}

#listHeader {
	font-size: 20px;
	font-weight: bold;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#reservationDate{
    opacity: 0.6;
}

nz-list-empty{
    color: white;
    opacity: 0.5;
    font-size: 18px;
}