:host{
    width: 100%;
    background-image: url("/assets/bodyIV.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#dvSearch {
    /* background: white; */
    background-color: #ffffffe8;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 2%;
    margin-top: 1%;
    border-radius: 10px;
}

#dvSearchTitle{
    font-family: 'balsamiq_sans';
    text-align: center;
    font-size: 2vw;
}

#slcSearch{
    width: 100%;
}

#slcCity{
    width: 100%;
}

#dvRestaurants {
    background-color: #ffffffe8;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 1% 0px;
    padding: 2%;
    border-radius: 10px;
}

nz-card{
    width: 100%;
}

pagination-controls {
	display: flex;
	justify-content: center;
	margin-top: 2%;
}

#noRestaurants{
    text-align: center;
    font-size: 20px;
}

