<!-- Modal del login -->
<nz-modal [nzVisible]="isVisible" nzTitle="Reestablecer contraseña" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzMaskClosable=false>
    <ng-container *ngTemplateOutlet="forgotPasswordTemplate"></ng-container>
  <!-- Modal footer -->
  <div *nzModalFooter>
    <button nz-button nzType=default (click)=handleCancel()>Cerrar</button>
    <button nz-button nzType=primary (click)=handleOk() [disabled]=!forgotPasswordForm.valid>Enviar</button>
  </div>
  <!-- Modal footer -->  
</nz-modal>

<ng-template #forgotPasswordTemplate>
    <nz-alert [nzType]="message.type" [nzMessage]=message.message *ngIf="message.message!=''"></nz-alert>
    <form nz-form [formGroup]="forgotPasswordForm">
        <nz-form-item>
            <nz-form-label>Correo electrónico</nz-form-label>
            <nz-form-control>
                <input nz-input nzType="text" placeholder="Ingrese su correo electrónico" formControlName=email>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>