/* Responsive breakpoints */

@media only screen and (max-width: 1361px) {

	#restaurantImg {
        top: -10% !important;
    }
}

@media only screen and (max-width: 1130px) {

	#restaurantImg {
        height: 60% !important;    
    }
}

@media only screen and (max-width: 1130px) {

	#restaurantImg {
        top: -2% !important;   
    }
}

/* @media only screen and (max-width:768px){
	#restaurantImg{
		width: 90% !important;
        top: -10% !important;
        height: 30% !important;
	}
}
 */
@media only screen and (max-width:766px){
	#restaurantImg{
        position: unset !important;
        height: 100% !important;
    }
    
    #dvRestaurantData{
        margin-top: 0% !important;
    }

    #dvBtnReserve button{
        font-size: 18px !important;
    }
}
/* Responsive breakpoints */

:host{
    background-image: url(/assets/bodyIII.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#dvContainer{
    height: 100%;
}

.dvRestaurantData {
	background: #001529cf;
	border-radius: 10px;
	color: white;
}

#dvRestaurantImage{
    display: flex;
    justify-content: center;
}

#restaurantImg {
	width: 95%;
	position: relative;
	top: -25%;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
}

#restaurantName {
    font-size: 25px;
    text-align: center;	
}

#phone{
    color: white;
    text-decoration: none;
}

#restaurantName button{
	margin-right: 2%;;
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
}

#dvBtnReserve {
	display: flex;
	justify-content: center;
}

#dvBtnReserve button{
    width: 50%;
}

#dvMap{
    margin-top: 3%;
}

nz-modal  {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

agm-map{
    height: 280px;
}

