:host{
width: 100%;
}

#logo{
	font-family: 'great-vibes';
	color: white;
	text-align: center;
	font-size: 2.5vw;
	font-weight: 400;
	letter-spacing: 0.467em;
}


#logo p a {
	text-decoration: none;
	color: white;
}

#menus a{	
	text-align: center;
	color: white;
	transition: 0.5s;
}

#menus a:hover{
	background: #1890ff;
}