:host{
width: 100%;
}

#logo{
	font-family: 'great-vibes';
	color: white;
	text-align: center;
	font-size: 1.5vw;
	font-weight: 400;
	letter-spacing: 0.467em;
}


#logo p a {
	text-decoration: none;
	color: white;
}

#menus{
	font-family: 'poppins';
	font-size: 14px;
	color: white;
}

#menus a{	
	text-align: center;
	color: white;
	transition: 0.5s;
}

#menus a:hover{
	background: #1890ff;
}

nz-dropdown-menu ul li a{
	text-decoration: none;
	display: block;
	width: 100%;
	color: rgb(240, 238, 238);
}