<meta name="viewport" content="width=device-width, user-scalable=no">
<div nz-row nzJustify="end" id="headerRow">
    <div nz-col nzSpan="20" id="logo"><p><a [routerLink]="['/home']">Restaurant Reservation</a></p></div>
    <div nz-col nzSpan="4">
        <button nz-button nzType="default" (click)="showModal()" nzGhost>Acceder</button>
    </div>
</div>

<nz-modal [(nzVisible)]="modalVisible" nzTitle="Acceso" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzMaskClosable=false>
    <ng-container *ngTemplateOutlet="loginForm"></ng-container>
</nz-modal>

<ng-template #loginForm>
    <app-login></app-login>
</ng-template>

