#logo{
	font-family: 'great-vibes';
	color: white;
	text-align: center;
	font-size: 2vw;
	font-weight: 400;
	letter-spacing: 0.467em;
}

#userIcon fa-icon{
	font-size: 2vw;
	color: white;
	cursor: pointer;
}

#ulUserPopOver{
	display: flex;
	flex-flow: column;
	text-decoration: none;
	list-style: none;
}


#popOverContent{
	width: 50%;
}